// RAMEN

.ramen-section {
  background-image: url("/layouts/ramen-background.png");
  background-size: cover;
  padding-top: 50px;
}
.ramen-slideshow {
  display: flex;
  padding-bottom: 75px;
  overflow-y: hidden;

  /* ===== Scrollbar CSS ===== */
  /* Firefox */

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    scrollbar-width: 5px;
    scrollbar-color: #8f7453 #ffffff;
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #b19676;
    cursor: pointer;
    border-radius: 10px;
  }
  color: #544d42;
}

.ramen-item {
  position: relative;

  p {
    position: absolute;
    bottom: 5%;
  }
}

.ramen-photo {
  height: 500px;
  @media (max-width: 500px) {
    // width: 500px;
    height: 400px;
  }
}

h1 {
  font-size: 4rem;
  color: #544d42;
}
