@use "./layout/reset";
@use "./layout/home";
@use "./layout/menu";
@use "./layout/location";
@use "./layout/ramen-section";
body {
  font-family: "Uchiyama", sans-serif;
  // overflow-x: hidden;
  font-weight: 800;
  font-size: 1.7em;
  background-image: url("layouts/background.png");
  background-repeat: repeat;
  width: 100%;
  height: 300vh;
  background-color: #e4c19e;
}

// .app {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 150%);
}

.hide {
  visibility: hidden;
  max-height: 0;
}

.display-none {
  display: none;
}
.show {
  visibility: visible;
}

.show-scroller {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: fixed;
  height: 100vh;
}

@font-face {
  font-family: "Uchiyama";
  src: url("../fonts/uchiyama.ttf");
  font-size: 21px;
  background-image: url("../imgs/testbg.jpeg");
}
